
Django==5.1.7
django-browser-reload==1.18.0
django-ckeditor==6.7.2
django-countries==7.6.1
django-crispy-forms==2.3
django-js-asset==3.1.2
django-livereload-server==0.5.1
django-multiselectfield==0.1.13
django-phonenumber-field==8.0.0
pillow==11.0.0
psycopg2-binary==2.9.10
python-decouple==3.8
python-utils==3.9.1
requests==2.32.3
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.28.1
whitenoise==6.9.0
